[user]
	name = Vanny
	email = kongvanny2000@gmail.com
[pull]
	ff = only
[http]
	postBuffer = 157286400
[core]
	editor = nvim
[safe]
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
	directory = /Users/thuan
